.recentlyViewed-container {
  position: relative;
  margin-top: 3vh;
  margin-bottom: 2vh;
  padding-top: 2vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  width: 53vw;
  height: 27vh;
  border: solid 1px #da532c;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
}

.rv-title {
  position: absolute;
  top: 1.5vh;
  left: 2vw;
  background-color: white;
  font-weight: bold;
  font-size: 1rem;
}

.miniInfoList{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 53vw;
}