.main {
  margin-left: 10vw;
  width: 30vw;
  height: 10vh;
  background-color: rgb(218, 83, 44);
  border: none;
  border-radius: 1.5vw;
  color: white;
  color: white;
  font-family: 'Malgun Gothic', sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
}

.arrow{
  background-color: white;
  border: none;
}