.OrangeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infor {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.stage_image{
    position: absolute;
    top: 13vh;
    left: 13vw;
    width: 29vw;
}

.Floor1{
  position: absolute;
  height: 25vh;
  transform: rotate(-120deg);
  top: 25vh;
  left: 45vw;
}

.Floor2{
  position: absolute;
  height: 25vh;
  transform: rotate(120deg);
  top: 25vh;
  left: 10vw;
    
}

.Floor3{
  position: absolute;
  transform: rotate(90deg);
  height: 24vw;
  top: 19vh;
  left: 27.5vw;
    
}

.Floor4{
  position: absolute;
  height: 37vh;
  top: 22vh;
  left: 12vw;
}

.Floor5{
  position: absolute;
  height: 37vh;
  top: 22vh;
  left: 43vw;    
}

.reset{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vh;
}

.resetImage{
  width: 10vw;
  opacity: 0.5
}

.resetText{
  color: rgba(220, 132, 118, 0.5);
  font-size: 2rem;
  font-weight: bold;
}