.OrangeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infor {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seatContainer{
    background-color: blueviolet;
}

.stage_image{
    position: absolute;
    top: 12vh;
    left: 13vw;
    width: 29vw;
}

.seatBox {
    display: flex;
    flex-Wrap: wrap;
    justify-Content: center;
    position: absolute;
    width: 10vw;
}

.A {
    transform: rotate(-135deg);
    top: 18vh;
    left: 5vw;
}

.B {
    transform: rotate(-170deg);
    top: 28vh;
    left: 16vw;
}

.C {
    transform: rotate(170deg);
    top: 28vh;
    left: 29vw;
}

.D {
    transform: rotate(135deg);
    top: 18vh;
    left: 40vw;
}

.E {
    width: 18vw;
    transform: rotate(-150deg);
    top: 40vh;
    left: 0vw;
}

.F {
    transform: rotate(180deg);
    width: 17vw;
    top: 48vh;
    left: 19vw;
}

.G {
    width: 18vw;
    transform: rotate(150deg);
    top: 40vh;
    left: 37vw;
}



input:checked+label {
    font-weight: bold;
}

#startBtn {
    width: 100%;
    height: 40px;
    background-color: #DA532C;
    border-radius: 10px;
    margin-top: 20px;
}

#modal_content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    margin-right: 10px;
}

label {
    margin-right: 90px;
}