.box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35.5vh;
    left: 21.8vw;
    width: 63.5vw;
    height: 30vh;
    background: rgb(218, 83, 44, 0.5);
    font-size: 4rem;
    color: white;
    z-index: 1;
}

.after{
    display: none;
}