.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 40vw;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 1vw;
  background-color: #da532c;
  font-weight: 700;
  color:#fff;
}
.modal > section > header button {
  position: absolute;
  top: 1.8vh;
  right: 2vh;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 30%;
}
.modal > section > main {
  display: flex;
  justify-content: center;
  padding: 3vh 1.5vw 5vh 1.5vw;
}

.modal.openModal {
  display: flex;
  align-items: center;
  animation: modal-bg-show 0.3s;
}


#modal_content {
  width: 90%;
  display: flex;
  flex-direction: column;
}
#modal_content p{
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 10px;
}
#div_난이도{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1vh;
  border-bottom:#6c757d 1px solid;
}
#div_난이도>div{
  display: flex;
  padding-top: 1vh;
  padding-bottom: 1vh;
}
#div_난이도 div:first-child{
  margin-right: 0.8vw;
}
#div_난이도 div>label{
  display:block;
  text-align: center;
  width:16vw;
  border:rgb(200, 200, 200) 2px dashed;
  border-radius: 10px;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

input[type="radio"] {
  display:none;
}
input:checked + label {
  font-weight: bold;
  border: 2px solid #da532c !important;
}
#div_난이도 div>label:hover{
  cursor: pointer;
  border: 2px solid #da532c;
  border-radius: 10px;
}

.seatImg{
  width: 16vw;
  height: 15vh;
  border: 2px solid #fff;
}
.seatImg:last-child{
  margin-left: 0.8vw;
}
.seatImg:hover{
  cursor: pointer;
  border-color:#da532c;
  border-radius: 10px;
}

.seatImg.selected{
  border-color:#da532c;
  border-radius: 10px;
}


#startBtn {
  width: 100%;
  height: 5vh;
  background-color: #da532c;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 1.1rem;
  font-weight: 700;
  color:#fff;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
