.SeatBtn{
    margin: 0.1vw;
    width: 0.7vw;
    height: 0.7vw;
    border: none;
    background-color: rgb(187, 0, 187);
}

.SeatBtn:disabled{
    width: 0.7vw;
    height: 0.7vw;
    border: none;
    background-color: rgba(143, 143, 143, 0.5);
}

.SeatBtn:focus {
    width: 0.7vw;
    height: 0.7vw;
    border: none;
    background-color: blue;
}