.info-container {
  width: 15rem;
  height: 25rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.info-container:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.image-container {
  width: 100%;
  height: 80%;
}
.image {
  width: 100%;
}
.button-container {
  width: 100%;
  height: 20%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #d0d0d0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.button-container:hover {
  background-color: #e0e0e0;
}
.icon-background {
  background: #da532c;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  padding: 0.5rem;
  margin-right: 1vh;
  display: flex;
}
.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  font-weight: bold;
  font-size: 1rem;
}
